{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm" id="frozen-col">
      <p style="margin-top: 20px;">
        My Profile
      </p>
      <div style="display: flex; justify-content: center;">

        <img src="{{profile.url}}" id="profile-pic">
      </div>
        <div>
          <p>bio:</p>
          <p>{{profile.bio}}</p>
       </div>
    </div>
    <div class="col-sm" id="scroll-col">
      {% for post in posts %}
      <div class="card">
      <div class="card-content">
        <p>
            @{{post.user.username}}
        </p>
        <hr/>
        <a href="/post/{{ post.id }}" class="post-card">
            <p style="margin-left: 15px; text-decoration: none;">{{ post.text }}</p>
            {% for photo in post.photo_set.all %}
            <div style="display: flex; justify-content: center; margin-bottom: 20px;">
              <img class="responsive-img card-panel" src="{{photo.url}}" style="max-width:70%;" alt="Responsive image">
            </div>
            <p style="font-size: 12px; margin-left: 15px">posted {{ post.created_at }}</p>
            {% endfor %}
          </div>
      </a>
    </div>
      {% endfor %}

      {% endblock %}
      