{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col" >
      <div class="other fixed-bio">
        <div class="form">
            <p>
              My Profile
            </p>
            <div class="text-center">
              {% for photo in user.profilepicture_set.all %}
                <img class="bio-profile-pic" src="{{profile.url}}" />
                {% empty %}
                <img class="bio-profile-pic" src="../../static/image/default.png" />
                {% endfor %}

            </div>
            
            <div>
                <p>Bio:</p>
                <p>Hi! My name is Kioko and I am a huge weeb and kpop stan... yes I am depressed.</p>
                <p style="margin-top: 100px;">Followers:</p>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md">
      {% for post in posts %}
      <div class="post-box">
        <div class="post">
            <img class="post-profile-pic" src="">
            @{{ post.user.username}}
          <hr/>
          <a href="/post/{{ post.id }}">
            <p >{{ post.text }}</p>
              {% for photo in post.photo_set.all %}
                <img class="post-photo" src="{{photo.url}}">
        
              <p>Posted {{ post.created_at }}</p>
              {% endfor %}
            </div>
          </a>
        </div>
        <br>
        {% endfor %}
       
      </div>
        
    </div>
  </div>
</div>
 {% endblock %}
      