{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col" >
      <div class="other fixed-bio">
        <div class="profile-content">
            <p class="my-profile">
              My Profile
            </p>
            <div class="text-center">
              {% for photo in user.profilepicture_set.all %}
                <img class="bio-profile-pic" src="{{photo.url}}" />
                {% empty %}
                <img class="bio-profile-pic" src="../../static/image/default.png" />
                {% endfor %}
            </div>
            
            <div>
              {% for bio in user.profilepicture_set.all %}
              <p class="bio-tag">Bio: {{bio.bio}}</p>
              <a class="" href="{% url 'edit_profile' %}"><button class="buttonSolid">Update Profile</button></a>
              {% empty %}
              <p class="bio-tag">Bio: You have no bio</p>
              <a class="" href="{% url 'edit_profile' %}"><button class="buttonSolid">Update Profile</button></a>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>

    <div class="col-md">
      {% for post in posts %}
      <div class="post-box">
        <div class="post">
            {% for photo in post.user.profilepicture_set.all %}
              <img class="post-profile-pic" src="{{photo.url}}" />
              {% empty %}
              <img class="post-profile-pic" src="../../static/image/default.png" />
              {% endfor %}
            @{{ post.user.username}}
          <hr/>
          <a href="/post/{{ post.id }}">
            <p >{{ post.text }}</p>
              {% for photo in post.photo_set.all %}
                <img class="post-photo" src="{{photo.url}}">
        

                
              <p class="posted-at">posted {{ post.created_at }}</p>
              {% endfor %}
            </div>
          </a>
        </div>
        {% endfor %}
       
      </div>
        
    </div>
  </div>
</div>
 {% endblock %}
      