{% extends 'base.html' %} {% block content %}

<h1 class="registration-header">Login</h1>

<div class="box">
  <div class="form-container">
    <div class="form">
      <form method="post" action="{% url 'login' %}">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        {% csrf_token %}
        <label for="username">Username</label>
        <div class="form-group">{{form.username}}</div>
        <label for="password">Password</label>
        <div class="form-group">{{form.password}}</div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            ><small>keep me logged in</small>
          </label>
        </div>
        <button type="submit" class="buttonSolid btn-block">Login</button>
        <a class="buttonWhite btn-block" href="{% url 'reset_password' %}">
          forget your password ?</a
        >
        <input type="hidden" name="next" value="{{ next }}" />
        <p style="text-align: center">
          Don't have an account? <a href="{% url 'signup' %}">Signup</a>
        </p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
